html { background-color: #fffef9}

main {
    width: 1000px; 
    margin:-10px auto 10px;  
    font-family:Arial, Helvetica, sans-serif 
}

h1 {color: #f7838d; }

aside {
    float: left;
    width:250px;
    border-top:1px solid #f7838d;
    border-bottom:1px solid #f7838d;
    border-left: 1px solid #f7838d;
    border-right: 1px solid #f7838d;
    padding:40px 1em 0 2em;
    font-style: italic;
    margin-right: 20px;
    margin-bottom: 20px;
    background: url(imagens/aspas.gif) no-repeat;
}

footer { 
    clear:both; 
    width:700px; 
    margin:0 auto;
    margin-top: 40px; 
    font-size:0.75em; 
    text-align:center; 
    background-color:#ECECEC; 
    padding:5px;
}